<h1>Bienvenido a <%= @url %>, <%= @user %></h1>

<p>Te has registrado correctamente. tu nombre de usuario es <%= @user.username %></p>
<p>Para loguearte en el sitio solo sigue este link: <%= @url %></p>
<p>Gracias por registrarte y compra muchas cosas</p>

<p>Atentamente, EL DUEÑO</p>
<small>Aqui no se fia, mañana si</small>