<div class="jumbotron">
  <h1 class="display-3">Ordenes</h1>
</div>

<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Numero de Orden</th>
      <th>Usuario</th>
      <th>Productos</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @orders %>
  </tbody>
</table>