<div class="jumbotron">
  <h1 class="display-3">Ordenes</h1>
</div>

<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th class="text-center">Orden</th>
      <th>Usuario</th>
      <th class="text-center">Productos</th>
      <th class="text-center">Estado</th>
      <th class="text-right">Total</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @orders %>
  </tbody>
</table>