<footer class="col-md-12 m-t-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12 m-t-2 m-b-1">
					<p class="text-center"><small><%= Date.new(2015).year %> &copy; SuperStore. Todos los derechos reservados.</small></p>
				</div>
			</div>
		</div>
</footer>
