<% if @carts.any? %>
  <%= render @carts %>
  <tr class="table-footer">
    <td colspan="5" class="text-md-right text-uppercase lead"><strong>Total:</strong></td>
    <td class="text-md-right"><strong class="lead js-cart-total"><%= number_to_currency @carts.total %></strong></td>
    <td class="text-md-center"><%= link_to 'Comprar', create_order_path, class: 'btn btn-success' %></td>
  </tr>
<% else %>
  <tr>
    <td colspan="7" class="text-md-center"><p>Carro vacio</p></td>
  </tr>
<% end %>