<h2 class="display-4 m-t-1 m-b-1">Carro de compras</h2>

<hr>

<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th class="text-md-center">#</th>
      <th></th>
      <th>Name</th>
      <th class="text-md-center">Cantidad</th>
      <th class="text-md-right">Price</th>
      <th class="text-md-right">Subtotal</th>
      <th class="text-md-center">Eliminar</th>
    </tr>
  </thead>

  <tbody class="js-cart-list">
  	<%= render partial: 'products' %>
  </tbody>
</table>

<hr>