<h1><%= @user %> tu compra ha sido realizada con exito</h1>
<p>La orden de compra es: <%= @order.id %></p>
<p>Total pagado: <%= @order.product_orders.total %></p>
<p>Tu compra sera enviada dentro de los proximos 50 años</p>

<p><strong>Atte. La Gerencia</strong></p>
