<h1 class="display-4 m-t-md m-b-md">New Product</h1>

<%= render 'form' %>

<hr>

<p class="m-t-md m-b-md">
	<%= link_to admin_products_path, class: 'btn btn-info' do %>
	  <span class="icon-back" aria-hidden="true"></span>
	  Volver
	<% end %>
</p>