<p class="m-t-md m-b-md">
<%= link_to edit_admin_product_path(@product), class: 'btn btn-warning' do %>
	  Editar
	  <span class="icon-eye" aria-hidden="true"></span>
	<% end %>

	<%= link_to admin_products_path, class: 'btn btn-info' do %>
	  <span class="icon-back" aria-hidden="true"></span>
	  Volver
	<% end %>
</p>