// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gmap {
	width: 100%;
	height: 300px;
	border: 2px solid grey;
	border-radius: 4px;
}