<div class="jumbotron">
  <h1 class="display-3">SuperStore world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="m-y-md">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div>

<div class="row product-list">
  <%= render @products %>
</div>

<div class="pagination">
	<%= paginate @products %>
</div>